{% comment %} <div class="page-content main-blog">
<div class="blog-row blog-block-item column-1">
{%- for article in blog.articles -%}
<div class="item">
{% render 'article-card-2' 
, article: article,
media_size: media_size,
portrait_aspect_ratio: portrait_aspect_ratio,
blog_text_align: blog_text_align,
show_author: show_author,
show_date: show_date,
show_summary: show_summary,
show_read_more: show_read_more,
show_comment: show_comment,
show_placeholder: show_placeholder,
catewords: 38 %}
</div>
{%- endfor -%}
</div>
</div> {% endcomment %}

<div class="kd-blogs-grid-wrapper">
  <h2 class="kd-blogs-title text-center">{{ section.settings.blogs_title }}</h2>
  <div class="kd-blogs-grid">
    <div class="kd-blog-grid-inner">
        {%- assign blog = blogs[section.settings.blog] -%}

        {%- if blog.articles_count > 0 -%}
          <ul>
        
            {%- for article in blog.articles limit: section.settings.post_limit -%}
              <li>
                <a href="{{ article.url }}">
                  {%- if article.image -%}
                    {{ article | img_url: '150x150', scale: 2 | img_tag: '' }}
                  {%- endif -%}
                  <h2>{{ article.title }}</h2>
                </a>
        
                {%- if section.settings.blog_show_author -%}
                  <span>
                    By {{ article.author }}
                  </span>
                {%- endif -%}
        
                {%- if section.settings.blog_show_date -%}
                  <span>
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                  </span>
                {%- endif -%}
        
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt }}
                {%- else -%}
                  {{ article.content | strip_html | truncate: 150 }}
                {%- endif -%}
        
                {%- if article.tags.size > 0 -%}
                  <ul aria-label="{{ 'blogs.article.tags' }}">
                  {%- for tag in article.tags -%}
                    <li>
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                    </li>
                  {%- endfor -%}
                  </ul>
                {%- endif -%}
        
                <ul>
                  <li>
                    <a href="{{ article.url }}" aria-label="Read more: {{ article.title }}">
                      Read more
                    </a>
                  </li>
        
                  {%- if blog.comments_enabled? and article.comments_count > 0 -%}
                    <li>
                      <a href="{{ article.url }}#comments">
                        {{ article.comments_count }} comments
                      </a>
                    </li>
                  {%- endif -%}
        
                </ul>
              </li>
            {%- endfor -%}
        
          </ul>
        {%- endif -%}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Kd blogs grid",
    "settings": [
      {
        "type": "text",
        "id": "blogs_title",
        "label": "Title"
      },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    }
    ],
    "presets": [
      {
        "name": "Kd blogs grid"
      }
    ]
  }
{% endschema %}