<style>

  .kd-blogs-sec-wrapper {
    background-color: #f8f8f8;
    padding: 50px;
  }

  .kd-blogs-sec-title {
    font-size: 35px;
    color: black;
    margin-bottom: 14px;
  }

  .kd-single-blog-title {
    margin: 12px 0;
  }

  .kd-single-blog-content {
    color: black;
  }

  .kd-load-more-btn {
    padding: 17px 38px;
    background: linear-gradient(to right,rgb(155 0 183),rgba(0,151,160,1)) color: white;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
  }
</style>

<div class="kd-blogs-sec-wrapper">
  <div class="container">
    <h2 class="kd-blogs-sec-title text-center">{{ section.settings.title | escape }}</h2>
    {%- assign blog = blogs[section.settings.blog] -%}

    {%- if blog.articles_count > 0 -%}
      <div class="kd-blog-grid-wrapper">
        <div class="kd-blog-grid-inner row">
          {%- for article in blog.articles limit: section.settings.post_limit -%}
            <div class="col-md-4 kd-single-blog">
              <div class="kd-singe-blog-inner">
                <a href="{{ article.url }}">
                  {%- if article.image -%}
                    <div class="single-blog-img">
                      {{ article | img_url: 'master', scale: 2 | img_tag: '' }}
                    </div>
                  {%- endif -%}
                  <h2 class="kd-single-blog-title">{{ article.title }}</h2>
                  <p class="kd-single-blog-content">
                    {%- if article.excerpt.size > 0 -%}
                      {{ article.excerpt }}
                    {%- else -%}
                      {{ article.content | strip_html | truncate: 150 }}
                    {%- endif -%}
                  </p>
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>

  {%- if section.settings.show_view_all -%}
    <div class="text-center">
      <a
        href="{{ blog.url }}"
        class="kd-load-more-btn"
        aria-label="{{ 'blogs.article.view_all_blogs' }}">
        View All
      </a>
    </div>

  {%- endif -%}

</div>



{% schema %}
  {
    "name": "Kd Blog posts Grid",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Learning Centre"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      }, {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Kd Blog posts Grid",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}