<style>
  .kd-overview-section {
    align-items: center;
    background-image: linear-gradient(to right,rgb(155 0 183),rgba(0,151,160,1)) display: flex;
    height: 188px;
    margin: -4rem -1px 1rem;
    mask: url('https://cdn.shopify.com/s/files/1/0744/8277/8393/files/wave-mask2.svg?v=1682189466');
    -webkit-mask: url('https://cdn.shopify.com/s/files/1/0744/8277/8393/files/wave-mask2.svg?v=1682189466');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
    position: relative;
    z-index: 2;
    font-size: 16px;
    color: white;
  }

  .kd-single-overview {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .kd-single-overview img {
    filter: brightness(0) invert(1);
    width: 60px;
  }
</style>

<div class="kd-overview-section">
  <div class="container kd-overview-section-inner">
    <div class="row">
      <div class="col-md-4">
        <div class="kd-single-overview">
          <img
            src="{{section.settings.firsticon | img_url: 'master'}}"
            alt=""
            srcset="" />
          <p>{{ section.settings.firsttext }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kd-single-overview">
          <img
            src="{{section.settings.secondicon | img_url: 'master'}}"
            alt=""
            srcset="" />
          <p>{{ section.settings.secondtext }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kd-single-overview">
          <img
            src="{{section.settings.thirdicon | img_url: 'master'}}"
            alt=""
            srcset="" />
          <p>{{ section.settings.thirdtext }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Kd Overview Columns",
    "settings": [
      {
        "type": "image_picker",
        "id": "firsticon",
        "label": "First Column Icon"
      },
      {
        "type": "text",
        "id": "firsttext",
        "label": "First Column Text"
      },
      {
        "type": "image_picker",
        "id": "secondicon",
        "label": "Second Column Icon"
      },
      {
        "type": "text",
        "id": "secondtext",
        "label": "Second Column Text"
      }, {
        "type": "image_picker",
        "id": "thirdicon",
        "label": "Third Column Icon"
      }, {
        "type": "text",
        "id": "thirdtext",
        "label": "Third Column Text"
      }
    ],
    "presets": [
      {
        "name": "Kd Overview Columns"
      }
    ]
  }
{% endschema %}