<style>

  .quick-order-section-wrapper {
    display: flex;
    justify-content: center;
  }

  .quick-order-section-inner {
    max-width: 1100px;
  }

  .single-product-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: white;
    box-shadow: 0 0 5px #00000024;
    margin-bottom: 20px;
    padding: 8px 20px;
    max-width: 100%;
    justify-content: space-between;
  }

  .single-product-inner .prod-title img {
    max-width: 200px;
  }

  .prod-img {
    width: 15%;
  }

  .prod-title {
    width: 55%;
    padding: 0 10px;
  }

  .quantity {
    width: 10%;
  }

  .quantity input {
    width: 100%;
  }

  .prod-button {
    width: 15%;
  }

  .single-selct {
    padding: 6px;
  }

  .single-selct label {
    font-size: 13px;
  }

  .single-selct select,
  .single-selct input {
    padding: 8px;
  }

  .prod-button button {
    background: linear-gradient(to right,rgb(155 0 183),rgba(0,151,160,1));
    color: white;
    padding: 10px;
    border: none;
  }
</style>

<div class="quick-order-section-wrapper">
  <div class="quick-order-section-inner">
    <h2 class="quick-order-title">{{ section.settings.Kd_quick_order_title }}</h2>

    <div class="filters-and-pagination">
      <div class="search-and-filter">
        <div class="search">
          <input
            type="text"
            placeholder="Search"
            class="search-input">
        </div>
        {% comment %} <div class="category-filter">
        <select name="" id="select-collection">
        {% for collection in collections %}
        <option value={{collection.id}}>{{ collection.title }}</option>
        {% endfor %}

        </select>
        </div> {% endcomment %}
      </div>
      <div class="pagination-links-wrapper top">
        {{ paginate | default_pagination }}
      </div>
    </div>


    <div class="pagination-wrapper">
      {% paginate collections.all.products by 12 %}
        {% for product in collections.all.products %}
          <div
            class="single-product"
            data-title="{{product.title}}"
            data-id="{{product.id}}">
            <div class="single-product-inner">
              <div class="prod-img">
                <img src="{{product.featured_image | img_url: 'small'}}" alt="">
              </div>
              <div class="prod-title">
                <h2>{{ product.title }}</h2>
                <div class="prod-options-wrapper">
                  <div class="options hidden">
                    {% if product.variants.size > 0 %}
                      <select
                        name=""
                        id="product-varient"
                        class="product-varient">
                        {% for varient in product.variants %}
                          <option value="{{varient.id}}">{{ varient.title }}</option>
                        {% endfor %}
                      </select>
                    {% endif %}
                  </div>


                  {% comment %} product opions {% endcomment %}
                  {%- unless product.has_only_default_variant -%}
                    <div class="prod-options">
                      {%- for option in product.options_with_values -%}

                        {%- if section.settings.product_selector == 'radio' -%}
                          <fieldset id="ProductSelect-option-{{ forloop.index0 }}" name="{{ option.name | handleize }}">
                            <legend>
                              {{ option.name | escape }}
                            </legend>
                            {%- for value in option.values -%}
                              <!-- Check to see if there's a product size option. If there is a size, check to see if there's any availble for purchase. If not, set the variat control in a "disabled" state. -->
                              {%- assign variant_label_state = true -%}

                              {%- if product.options.size == 1 -%}
                                {%- unless product.variants[forloop.index0].available -%}
                                  {%- assign variant_label_state = false -%}
                                {%- endunless -%}
                              {%- endif -%}

                              <input type="radio" {% if option.selected_value == value %}checked="checked"{% endif %}{% unless variant_label_state %}disabled="disabled"{% endunless %}value="{{ value | escape }}"data-index="option{{ forloop.index }}"name="{{ option.name | handleize }}"id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
                              <label for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
                                {{ value | escape }}
                              </label>
                            {%- endfor -%}
                          </fieldset>
                        {%- else -%}
                          <div class="single-selct">
                            <label for="ProductSelect-option-{{ forloop.index0 }}">
                              {{ option.name | escape }}
                            </label>
                            <select
                              onchange="selectProductption(event)"
                              id="ProductSelect-{{ forloop.index0 }}"
                              data-index="option{{ forloop.index }}">
                              {%- for value in option.values -%}
                                <option value="{{ value | escape }}"{% if option.selected_value == value %}selected="selected"{% endif %}>
                                  {{ value | escape }}
                                </option>
                              {%- endfor -%}
                            </select>
                          </div>
                        {%- endif -%}

                      {%- endfor -%}
                    </div>
                  {%- endunless -%}
                  {% comment %} product options {% endcomment %}
                </div>
              </div>

              <div class="quantity-wrapper">
                <label for="">Quentity</label>
                <input
                  type="number"
                  class="quantity"
                  value="1">
              </div>

              <div class="prod-button">
                <button onclick="add_product_to_cart(event)">Add to cart</button>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="pagination-links-wrapper bottom">
          {{ paginate | default_pagination }}
        </div>
      {% endpaginate %}
    </div>
  </div>
</div>

<script>
  const selectProductption = (e) => {
    e.preventDefault();
    let selectedVal = e.target.value;
    let varientName = '';

    console.log(e.target)
    let selects = e.target.parentElement.querySelectorAll('select');
    selects.forEach((slect, key) => {
      if (key == 0) {
        varientName += slect.value;
      } else {
        varientName += ` / ${
          slect.value
        }`;
      }
    })
    console.log(selects)
    console.log(varientName)
    let varientSelector = e
      .target
      .parentElement
      .previousElementSibling
      .previousElementSibling
      .children[0]
    console
    .log(varientSelector)

  for (let i = 0; i < varientSelector.options.length; i++) {
    if (varientSelector.options[i].text == varientName) {
      varientSelector.selectedIndex = i;
      break;
    }
  }

}

const add_product_to_cart = (e) => {
  e.preventDefault();
  console.log(e
    .target
    .parentElement
    .parentElement
    .parentElement)
  let parentElement = e
    .target
    .parentElement
    .parentElement
    .parentElement;
  let varientSelect = parentElement.querySelector('.product-varient');
  let quantityWrapper = parentElement.querySelector('.quantity');

  console.log(varientSelect)
  console.log(quantityWrapper)

  let productId = varientSelect.value;
  let quantity = quantityWrapper.value;

  console.log(productId, quantity)

  let formData = {
    'items': [
      {
        'id': productId,
        'quantity': quantity
      }
    ]
  };
  fetch(window.Shopify.routes.root + 'cart/add.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
  }).then(response => {
    return response.json();
  }).then(json => {
    consle.log(json)
  }).catch((error) => {
    console.error('Error:', error);
  });

}
</script>

{% schema %}
  {
    "name": "Kd Quick Order",
    "settings": [
      {
        "type": "text",
        "id": "Kd_quick_order_title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Kd Quick Order"
      }
    ]
  }
{% endschema %}